html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p, h1, h2, h3, h4, h5, h6 {
	display: inline-block;
}





@media screen and (max-width: 1024px) {
    html, body {
        z-index: 0 !important;
        overflow: scroll !important;
    }
}
html{
	font-family: "Myriad Pro Bold Condensed Italic";
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
}
body{
	background-color: #00aeef;
	margin: 0 auto;
	overflow-x: hidden;
	width: 980px;
}
.bl{
	display: inline-block;
	height: 700px;
	width: 980px;
}
.bl1 {
	background: url('img/1-bg.jpg') 0 0 repeat-x;
}
.bl1 .l{
	width: 607px;
}
.wk{
	background: url('img/sprite.jpg') -29px 0px no-repeat;
	float: left;
	height: 142px;
	margin: 0 0 0 89px;
	width: 93px;
}
.wk a{
	display: table;
	height: 100%;
	width: 100%;
}
.wk a:hover{
	border: 2px solid #FF2328;
}
.fr{
	background: url('img/sprite.png') -34px 0px no-repeat;
	float: left;
	height: 142px;
	margin: 0 231px 0 31px;
	width: 91px;
}
.lg{
	float: left;
	margin: 59px 78px 0 148px;
}
.bl1 .r{
	display: inline;
}
.bl1 h1{
	font-size: 32px;
    height: 110px;
    line-height: 34px;
    padding: 5px 0 0 16px;
    text-align: right;
}
.bl1 h1 .fz29{
	font-size: 39px;
}
.bl1 p{
	height: 113px;
	margin: 20px;
	line-height: 33px;
}
.btnH{
	color: #fff;
	display: inline-block;
	padding: 6px 26px;
	margin: 0 0 10px 210px;
}
.btnH:hover{
	color: #FF272B;
}
#FF272B
.bl1 .r p{
	height: 75px;
	margin: 9px 0 9px 159px;
}
.bl1 .r div{
	background: url('img/sprite.png') -335px 0px no-repeat;
	float: left;
	height: 585px;
	margin: 23px 0px 0 0px;
	width: 373px;
}
.bl2{
	background: rgba(5,188,255,1);
	background: -moz-linear-gradient(left, rgba(5,188,255,1) 0%, rgba(212,243,255,1) 51%, rgba(5,188,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(5,188,255,1)), color-stop(51%, rgba(212,243,255,1)), color-stop(100%, rgba(5,188,255,1)));
	background: -webkit-linear-gradient(left, rgba(5,188,255,1) 0%, rgba(212,243,255,1) 51%, rgba(5,188,255,1) 100%);
	background: -o-linear-gradient(left, rgba(5,188,255,1) 0%, rgba(212,243,255,1) 51%, rgba(5,188,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(5,188,255,1) 0%, rgba(212,243,255,1) 51%, rgba(5,188,255,1) 100%);
	background: linear-gradient(to right, rgba(5,188,255,1) 0%, rgba(212,243,255,1) 51%, rgba(5,188,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05bcff', endColorstr='#05bcff', GradientType=1 );
}
.bl2 > div{
	background-color: #fff;
	height: 526px;
	margin: 86px 0 0;
}
.bl2 .l{
	color: #00aeef;
    font-size: 25px;
    padding-right: 40px;
    text-align: right;
    width: 415px;
}
.bl2 h2{
	font-size: 50px;
}
.bl2 a{
	display: inline-block;
	margin: 19px 13px 0 0;
}
a.krkn div{
	background: url('img/sprite.png') -7px -289px no-repeat;
	display: inline-block;
	float: left;
	height: 102px;
	margin: 23px 0px 0 0px;
	width: 237px;
}
a.krkn div:hover{
	background: url('img/sprite.png') -7px -180px no-repeat;
}
.bl2 .r{
	background: url('img/sprite.jpg') -13px -317px no-repeat;
	float: left;
	height: 525px;
	margin: 1px 0 0 37px;
	width: 476px;
}
.bl3{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(0,175,239,1) 23%, rgba(0,175,239,1) 36%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(23%, rgba(255,255,255,1)), color-stop(23%, rgba(0,175,239,1)), color-stop(36%, rgba(0,175,239,1)), color-stop(36%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(0,175,239,1) 23%, rgba(0,175,239,1) 36%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(0,175,239,1) 23%, rgba(0,175,239,1) 36%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(0,175,239,1) 23%, rgba(0,175,239,1) 36%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(0,175,239,1) 23%, rgba(0,175,239,1) 36%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	height: 623px;
	margin-top: -6px;
}
.bl3 .l{
	width: 620px;
}
.bl3 .r{
	height: 577px;
}
.fz64{
	color: #fc8e90;
    font-size: 45px;
    margin: 100px 0 15px 169px;
}
.fz45{
	color: #fff;
    font-size: 36px;
    margin: 6px 0 32px 79px;
}
.ls{
	background: url('img/sprite.jpg') -516px -452px no-repeat;
	float: left;
	height: 390px;
	width: 560px;
}
.bl3 .pt{
	background: url('img/sprite.jpg') -141px -17px no-repeat;
	height: 290px;
	margin: 0 0 122px;
	width: 351px;
}
.bl3 .lg1{
	margin: 0 auto;
}
.bl3 .krkn div{
	margin: 2px 56px 0;
}
.bl4 h3{
	background-color: #ff3034;
	font-size: 39px;
	margin-bottom: 47px;
	padding: 10px 62px;
}
.dv {
    background: rgba(0, 0, 0, 0) url("img/sprite.png") no-repeat scroll -10px -154px;
    display: block;
    height: 12px;
    margin: 0 auto;
    width: 286px;
}
.dv1{
	margin-top: 87px;
	margin-bottom: 36px;
}
.dv2{
	margin-bottom: 43px;
}
.bl4 .lg1{
	margin: 0 auto 15px;
}
.bl5{
	color: #fff;
}
.bl5 h2{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 480px;
}
.dv3{
	margin-bottom: 3px;
    margin-top: 19px;
}
.dv4{
	margin-top: 4px;
}
.ww{
	margin: 0 auto;
	width: 817px;
}
.ww > div{
	display: inline-block;
	float: left;
	margin: 0 35px;
	text-align: center;
	width: 200px;
}
.ww > div > div{
    display: block;
    height: 140px;
    margin: 0 auto 25px;
    width: 143px;
}
.ww1 > div{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -8px -858px;
}
div.ww .ww2 > div{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -150px -858px;
	margin-top: 53px;
}
.ww3 > div{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -294px -858px;
}
.bl6{
	height: 625px;
}
.bl6 h2{
	background-color: #fff;
	color: #00aeef;
	display: table;
	font-size: 36px;
	margin: 0 auto;
	padding: 8px 15px 3px;
}
.bl6 > p{
	color: #fff;
    display: table;
    margin: 10px auto 0;
    text-align: center;
}
.fWr{
	background: url('img/2-bg.jpg') 0 0 repeat;
	height: 418px;
	margin: 0 25px 2px;
	padding: 25px;
}
.imL{
    background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -515px -15px;
    height: 419px;
    margin: 0 auto;
    width: 418px;
}
.fWr .lg1{
	display: inline-table !important;
	margin: -20px 0 6px 89px;
	overflow: hidden;
}
form.b1{
	background-color: #fff;
	height: 330px;
	margin: 0 0 0 127px;
	overflow: hidden;
	width: 242px;
}
form.b1 > *{
	display: block;
	line-height: 24px;
	text-align: center;
}
form.b1 input{
	-webkit-box-shadow: inset 0px 4px 13px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px 4px 13px 0px rgba(0,0,0,0.35);
	box-shadow: inset 0px 4px 13px 0px rgba(0,0,0,0.35);	
	color: #fff;
	background-color: #63cff8;
	border: none;
	font-family: "Myriad Pro Bold Condensed Italic";
	height: 48px;
    margin: 0 0 18px -14px;
    padding-left: 40px;
    padding-right: 17px;
    text-align: left;
    width: 209px;
}
form.b1 input.lst{
	margin: 0 0 5px -14px;
}
p.f1, p.f4{
	color: #888888;
	font-size: 21px;
}
.f1{
	padding: 4px 0 2px;
}
p.f2{
	font-size: 21px;
}
.f3 span{
	background-color: #ef2e31;
	color: #fff;
	padding: 2px 2px 0 1px;
}
form.b1 input::-webkit-input-placeholder {
  font-family: "Myriad Pro Bold Condensed Italic";	
	color: #fff;
}
form.b1 input:-ms-input-placeholder {
  font-family: "Myriad Pro Bold Condensed Italic";	
	color: #fff;
}
form.b1 input:-moz-placeholder {
  font-family: "Myriad Pro Bold Condensed Italic";	
	color: #fff;
}
form.b1 input::-moz-placeholder {
  font-family: "Myriad Pro Bold Condensed Italic";	
	color: #fff;
}
form.b1 input.zkz{
	background-color: #ef2e31;
	height: 48px;
    text-align: center;
    padding: 0;
    width: 270px;
}
form.b1 input.zkz:hover, form.b1 input.zkz:active{
	background-color: #b90000;
	cursor: pointer
}
div.ic{
	display: table;
	margin: 0 auto;
}
div.ic *{
    display: table;
    float: left;
    height: 63px;
    margin: 0 5px;
    width: 47px;
}
div.ic a div{
	height: 41px;
    margin: 10px 6px;
}
div.ic .ic1{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -489px -899px;
}
div.ic .ic1:hover{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -489px -859px;
}
div.ic .ic2{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -535px -899px;
}
div.ic .ic2:hover{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -535px -859px;
}
div.ic .ic3{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -580px -899px;
}
div.ic .ic3:hover{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -580px -859px;
}
div.ic .ic4{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -627px -899px;
}
div.ic .ic4:hover{
	background: rgba(0, 0, 0, 0) url("img/sprite.jpg") no-repeat scroll -627px -859px;
}




.lg1{
	background: url('img/sprite.png') -4px -403px no-repeat;
	display: table;
	height: 105px;
	width: 326px;
}
.l, .r{
	display: inline-block;
}
.l{
	float: left;
}
.gr{
	background-color: #1D1213;
}
.fz29{
	font-size: 29px;
}
.fz18{
	font-size: 21px;
}
.b1{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}