@font-face {
	font-family: 'Cuprum';
	src: url('fonts/Cuprum-Regular.eot');
	src: url('fonts/Cuprum-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Cuprum-Regular.woff') format('woff'),
		url('fonts/Cuprum-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
