/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
caption, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	background: #D39252;
	font-family: 'Cuprum';
	font-weight: normal;
	font-style: normal;
	line-height: 21px;
}

body {
	-webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.7);
	font-size: 21px;
	margin: 0 auto 76px;
	overflow-x: hidden;
	width: 740px;
}

.header {
	height: 491px;
	overflow: hidden;
}

.header > *{
	display: inline-block;
	float: left;
	position: relative;
	z-index: 100;
}

.header p{
	padding: 11px 17px;
}

.hCont {
	float: right;
}

.hCont p{
	text-align: right;
}

.hCont span{
	background: #000;
	float: right;
	padding: 7px 9px 5px; 
}

.hCont span a{
	color: #fff;
	padding: 17px;
	text-decoration: none;
}

.hCont span a:hover, .hCont span a.active{
	color: #ba9853;
	text-decoration: underline;
}

.header .logo{
	margin: 21px 41px 0 64px;
}

.header img.hBann {
	position: relative;
	top: -127px;
	z-index: 1;
}






/* variables */



/* variables */
