.HDRtov div.itemMenu div.wrpr{
	background: #3ed8f5;
	text-transform: uppercase;
}
.wrpr{
	margin: 0 0 30px;
}
.wrpr, .wrpr img {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.wrpr img{
	margin: 0 2% 2%;
    width: 96%;
}
.wrpr p {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    padding: 7px 9px 3px;
    text-align: center;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

/*footer*/
div.footRow {
	background: #3ed8f5;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 35px;
	margin-top: 35px;
	padding: 13px 0px 1px;
}
.footRow span {
    display: inline-block;
    margin-top: -11px;
}
.centerAl{
	text-align: center;
}
.rightAl{
	text-align: right;
}
/*footer*/

/*s_main*/
.pageType {
	color: #fff;
	font-size: 29px;
	text-align: center;
	background: rgb(179,233,255);
	background: -moz-linear-gradient(top, rgb(179,233,255) 0%, rgb(0,175,239) 53%, rgb(176,234,255) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(179,233,255)), color-stop(53%, rgb(0,175,239)), color-stop(100%, rgb(176,234,255)));
	background: -webkit-linear-gradient(top, rgb(179,233,255) 0%, rgb(0,175,239) 47%, rgb(176,234,255) 100%);
	background: -o-linear-gradient(top, rgb(179,233,255) 0%, rgb(0,175,239) 53%, rgb(176,234,255) 100%);
	background: -ms-linear-gradient(top, rgb(179,233,255) 0%, rgb(0,175,239) 53%, rgb(176,234,255) 100%);
	background: linear-gradient(to bottom, rgb(179,233,255) 0%, rgb(0,175,239) 53%, rgb(176,234,255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e9ff', endColorstr='#b0eaff', GradientType=0 );
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-weight: bold;
	margin-bottom: 17px;
}
.pageType p {
	margin: 0;
}
.sb {
	font-weight: bold;
	text-transform: uppercase;
}
.sac {
	text-align: center;
}
.s_main{
	padding: 7px 28px;
}
.wd100{
	width: 100%;
}
.si {
	font-style: italic;
}
.quer480 {
	margin: 10px 0;
}
/*s_main*/

.blueBg {
	background: #3ed8f5;
}
span.seoFz {
	font-size: 107%;
}
.wrMap {
	height: 506px;
	margin: 0 -1px;
}